html {
    box-sizing: border-box;
}

*,
::after ::before {
    box-sizing: inherit;
}

body {
    margin: 0 auto;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 2px;
    background-color: #a0efe5;
    background-image: url("../photos/kaermorhen.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}